<section class="section">
  <div class ="section_inner">
    <h1>飲酒量計算</h1>

    <h4 id="error_message"></h4>

    <form name="calculation" id="calculation">
      <div class="input-form">
        <div class="form" id="driving_start_time">
          <label>運転日時</label>
          <input type="datetime-local" id="driving_time">
        </div>

        <div class="form" id="driking_end_time">
          <label>飲酒日時</label>
          <input type="datetime-local" id="drinking_time">
        </div>
      </div>

      <input type="hidden" id="user_weight"  value="<%= @user.weight %>">

      <div class="button">
        <input type="button" value="計算" onclick="calc(driving_start_time);" class="btn">
        <input type="button" value="リセット" onclick="reSet(driving_start_time);" class="btn">
      </div>
    </form>

    <hr color="#f5b771">

    <h3>現時刻からの飲酒可能量</h3>
    
    <div class="calc-result">
      <label class="label">ビール（500ml）なら</label>
      <div>
        <input type="textarea" readonly="" id="beer" value=0 size=3>杯
      </div>
    </div>
    <div class="calc-result">
      <label class="label">日本酒（180ml）なら</label>
      <div>
        <input type="textarea" readonly="" id="sake" value=0 size=3>合
      </div>
    </div>
    <div class="calc-result">
      <label class="label">ウイスキー（60ml）なら</label>
      <div>
        <input type="textarea" readonly="" id="whiskey" value=0 size=3>杯
      </div>
    </div>
    <div class="calc-result">
      <label class="label">焼酎（25度 100ml）なら</label>
      <div>
        <input type="textarea" readonly="" id="shochu" value=0 size=3>杯
      </div>
    </div>
    <div class="calc-result">
      <label class="label">チューハイ（7% 350ml）なら</label>
      <div>
        <input type="textarea" readonly="" id="chuhai" value=0 size=3>杯
      </div>
    </div>

    <br>※体系やその日の体調によって適量は異なります。
    <br>　適量を守って楽しく飲みましょう！

    <script>
      function calc(driving_start_time) {
        var start_time = document.getElementById("driving_time").valueAsNumber;  
        var drinking_time = document.getElementById("drinking_time").valueAsNumber;  
        var weight = document.getElementById("user_weight").value;
        var weight_num = Number(weight);
        var text = document.getElementById('error_message').textContent;
    
        if (start_time - drinking_time >= 0){
          //エラーメッセージ削除
          document.getElementById('error_message').textContent = '';

          //度数×量（ml）
          var time_diff = start_time - drinking_time;
          var alcohol = time_diff * weight_num / 288000;

          //ビールの場合
          var beer = Math.round(alcohol / 2500 * 10) / 10;
          var beerForm = document.getElementById("beer");
          beerForm.value = beer;

          //日本酒の場合
          var sake = Math.round(alcohol / 2700 *10) / 10;
          var sakeForm = document.getElementById("sake");
          sakeForm.value = sake;

          //ウイスキーの場合
          var whiskey = Math.round(alcohol / 2400 * 10) / 10;
          var whiskeyForm = document.getElementById("whiskey");
          whiskeyForm.value = whiskey;

          //焼酎の場合
          var shochu = Math.round(alcohol / 2500 * 10) / 10;
          var shochuForm = document.getElementById("shochu");
          shochuForm.value = shochu;
   
          //チューハイの場合
          var chuhai = Math.round(alcohol / 2450 * 10) / 10;
          var chuhaiForm = document.getElementById("chuhai");
          chuhaiForm.value = chuhai;

        }else{
          //エラーメッセージ表示
          document.getElementById('error_message').textContent = '運転日時を飲酒日時よりも先の時間を指定してください';
        }
      }

      function reSet(driving_start_time) {
        document.getElementById("beer").value = 0;
        document.getElementById("sake").value = 0;
        document.getElementById("whiskey").value = 0;
        document.getElementById("shochu").value = 0;
        document.getElementById("chuhai").value = 0;
      }
    </script>
  </div>
</section>